<%- include('../partials/header') %>
<h2>Cambiar contraseña</h2>
<form action="/users/change-password" method="post">
  <label>Contraseña actual: <input type="password" name="oldPassword" required></label><br>
  <label>Nueva contraseña: <input type="password" name="newPassword" required></label><br>
  <button type="submit">Confirmar cambio</button>
</form>
<% if (typeof error !== 'undefined') { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <% if (typeof success !== 'undefined') { %>
    <p style="color: green;"><%= success %></p>
  <% } %>
<%- include('../partials/footer') %>