<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/fondo_pagina.jpeg" />

	<title> Ariel's Jewelry</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<!-- Header -->
	<%- include("partials/header.ejs") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// 
				<form action="POST" action="/users/register">
					<div>
						<label>Email:</label>
						<input id="Email" type="email" name="EmailDelUsuario" value="" placeholder="Email" required>
					</div> 
					<div>
						<label>Usuario:</label>
						<input id="Usuario" type="text" name="UsuarioDelUsuario" value="" placeholder="Usuario" required>
					</div>
					<div>
						<label>Contraseña:</label>
						<input id="" type="password" name="password" value="" placeholder="Contraseña" required>
					</div>
					<div>
						<label>Fecha De Nacimiento:</label>
						<input id="" type="date" name="fechaDeNacimiento" value=""required>
					</div>
					<div>
						<label>Numero de Documento:</label>
						<input id="" type="number" name="documento" value="" placeholder="NumeroDeDocumento" required>
					</div>
					<div>
						<label>Foto de Perfil</label>
						<input id="" type="text" name="fotoDePerfil" value="" placeholder="FotoDePerfil">
					</div>
					<button type="submit">Registrarse</button>
				</form>

	<!-- footer -->
	<%- include("partials/footer.ejs") %>
	<!-- /footer -->
</body>

</html>